node-red/HEMS.json
[{"id":"ba46127b.9f9d7","type":"tab","label":"HEMS","disabled":false,"info":""},{"id":"9e2664a0.c51568","type":"switch","z":"ba46127b.9f9d7","name":"Temp below threshold?","property":"diff_T","propertyType":"msg","rules":[{"t":"gte","v":"hems.thres_on","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":280,"wires":[["718f1dc1.70c004"],["3ae1628a.31cb7e"]]},{"id":"fd8160c.07829a","type":"function","z":"ba46127b.9f9d7","name":"Setup","func":"\nreturn msg;","outputs":0,"noerr":0,"initialize":"global.set(\"hems\", {});\nlet goal_temp = {\n    \"ACTIVE\": 21,\n    \"ASLEEP\": 18\n};\nglobal.set(\"hems.goal_temp\", goal_temp);\nglobal.set(\"hems.thres_on\", 2);\nglobal.set(\"hems.occupancy\", \"ACTIVE\");\n","finalize":"","x":110,"y":40,"wires":[]},{"id":"718f1dc1.70c004","type":"change","z":"ba46127b.9f9d7","name":"Heater on","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["3c3b98b5.2e9d78"]]},{"id":"3ae1628a.31cb7e","type":"change","z":"ba46127b.9f9d7","name":"Heater off","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":320,"wires":[["3c3b98b5.2e9d78"]]},{"id":"e983bb45.f23fa8","type":"function","z":"ba46127b.9f9d7","name":"Temp Diff","func":"let occupancy = global.get(\"hems.occupancy\");\n\nif (occupancy === \"AWAY\") {\n    return [null, msg];\n} else {\n    let currT = msg.payload;\n    let goalT = global.get(\"hems.goal_temp\")[occupancy];\n    \n    msg.diff_T = goalT - currT;\n    return [msg, null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":200,"y":300,"wires":[["9e2664a0.c51568"],["3ae1628a.31cb7e"]]},{"id":"a0f22c38.b9dde","type":"link in","z":"ba46127b.9f9d7","name":"PIR","links":["217e948d.3aa8ec"],"x":75,"y":140,"wires":[["7f88d72.b615828"]]},{"id":"1fd5f9d5.d64636","type":"link in","z":"ba46127b.9f9d7","name":"Door","links":["bd347eab.f1488"],"x":75,"y":180,"wires":[["5c240c88.b6c464"]]},{"id":"7f88d72.b615828","type":"function","z":"ba46127b.9f9d7","name":"Activity","func":"let curr_time = global.get(\"simtime\");\n\nif (msg.payload === \"RESET\") {\n    context.set(\"last_active\", -1);\n} else if (msg.payload === \"active\") {\n    context.set(\"last_active\", curr_time);\n    msg.payload = \"on\";\n    return msg;\n} else {  // timing signal\n    let last_active = context.get(\"last_active\");\n    if (curr_time - last_active > 1) {\n        msg.payload = \"off\";\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"last_active\", -1);","finalize":"","x":200,"y":140,"wires":[["5c240c88.b6c464"]]},{"id":"5c240c88.b6c464","type":"function","z":"ba46127b.9f9d7","name":"Occupancy","func":"var state = context.get(\"state\");\n\nif (state === \"ACTIVE\") {\n    if (msg.payload === \"off\") {\n        state = \"ASLEEP\";\n    } else if (msg.payload === \"leave\") {\n        state = \"AWAY\";\n    }\n} else if (state === \"AWAY\") {\n    if (msg.payload === \"enter\") {\n        state = \"ACTIVE\";\n    }\n} else if (state === \"ASLEEP\") {\n    if (msg.payload === \"on\") {\n        state = \"ACTIVE\";\n    }\n}\n\ncontext.set(\"state\", state);\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"context.set(\"state\", \"ACTIVE\");","finalize":"","x":390,"y":180,"wires":[["14c5de9f.1e1f51"]]},{"id":"14c5de9f.1e1f51","type":"change","z":"ba46127b.9f9d7","name":"Set occupancy","rules":[{"t":"set","p":"hems.occupancy","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[[]]},{"id":"3c3b98b5.2e9d78","type":"link out","z":"ba46127b.9f9d7","name":"","links":["42447076.1f1f4"],"x":795,"y":300,"wires":[]},{"id":"d1782412.2848a8","type":"link in","z":"ba46127b.9f9d7","name":"temperature","links":["62c91251.d7a42c"],"x":75,"y":300,"wires":[["e983bb45.f23fa8"]]},{"id":"9d05b24a.c995d","type":"link in","z":"ba46127b.9f9d7","name":"","links":["43fe826.56b507c"],"x":75,"y":100,"wires":[["7f88d72.b615828"]]}]