node-red/Simulation.json
[{"id":"46f96150.04c64","type":"tab","label":"Simulation","disabled":false,"info":""},{"id":"18279c98.d9a0b3","type":"function","z":"46f96150.04c64","name":"Timing","func":"let t = global.get(\"simtime\");\nlet total_steps = global.get(\"total_steps\");\n\nif (t > total_steps) {\n    msg.payload = \"END\";\n    return [null, msg];\n} else if (t >= 0) {\n    msg.payload = t;\n    return [msg, null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":250,"y":440,"wires":[["bdb25d3e.2538f","e56ccd5b.ee747","eb7cfabc.d03e68","c72909e1.76df38","89d6deb6.8d4fd"],["e1a6b3c5.8657e","a6087db2.52b08"]]},{"id":"5635727a.69442c","type":"inject","z":"46f96150.04c64","name":"Clock","props":[{"p":"payload"}],"repeat":"0.05","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":110,"y":440,"wires":[["18279c98.d9a0b3"]]},{"id":"2973dc81.a43e74","type":"function","z":"46f96150.04c64","name":"Indoor Temp","func":"msg.T_in = global.get(\"T_in\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":480,"wires":[["9d3798bd.4d7f18"]]},{"id":"2a6da675.d551da","type":"function","z":"46f96150.04c64","name":"Reset","func":"global.set(\"simtime\", 0);\n\nglobal.set(\"total_cost\", 0);\n\nglobal.set(\"T_in\", global.get(\"init_T_in\"));\nglobal.set(\"T_out\", global.get(\"init_T_out\"));\n\nglobal.set(\"hems.occupancy\", \"ACTIVE\");","outputs":0,"noerr":0,"initialize":"","finalize":"","x":350,"y":40,"wires":[]},{"id":"bdb25d3e.2538f","type":"function","z":"46f96150.04c64","name":"Outdoor Temp","func":"let t = global.get(\"simtime\") / global.get(\"steps_per_hour\");\nlet ampl = global.get(\"T_out_ampl\");\nlet T_var = ampl * Math.cos(2 * Math.PI / 24 * (t - 14));\n\nmsg.T_out = global.get(\"T_out\") + T_var;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":440,"wires":[["2973dc81.a43e74"]]},{"id":"123ce0e1.2cb0ef","type":"function","z":"46f96150.04c64","name":"Save & step","func":"let steps_per_hour = global.get(\"steps_per_hour\");\nlet steps = global.get(\"simtime\");\nlet hours = steps / steps_per_hour;\n\nlet occupancy = global.get(\"hems.occupancy\");\n\nlet simdata = `${hours},${msg.T_in},${msg.T_out},${msg.cost},${occupancy}`\nmsg.payload = simdata;\n\nglobal.set(\"simtime\", steps + 1);\n\nif (steps % steps_per_hour === 0) {\n    indoors = {\n        \"payload\": {\n            \"payload\": msg.T_in,\n            \"timestamp\": hours,\n            \"topic\": \"in\"\n        }\n    };\n    outdoors = {\n        \"payload\": {\n            \"payload\": msg.T_out,\n            \"timestamp\": hours,\n            \"topic\": \"out\"\n        }\n    };\n    cost = {\n        \"payload\": {\n            \"payload\": msg.cost,\n            \"timestamp\": hours,\n            \"topic\": \"cost\"\n        }\n    }\n    return [msg, indoors, outdoors, cost];\n} else {\n    return [msg, null, null, null];\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":630,"y":720,"wires":[["a556549d.4d9fa8"],["a0cb6e4c.a4f93"],["a0cb6e4c.a4f93"],["ec2dcceb.254f5","de13e877.a52388"]]},{"id":"e0c42f5d.2f225","type":"switch","z":"46f96150.04c64","name":"On/Off","property":"heater_command","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":580,"wires":[["6c5e07af.b08b38"],["d12a80bb.90b1b"]]},{"id":"6c5e07af.b08b38","type":"function","z":"46f96150.04c64","name":"Heat flow","func":"let T_heater = global.get(\"T_heater\");\nlet T_indoor = msg.T_in;\nlet Mdot = global.get(\"Mdot\");\nlet c = global.get(\"c\");\n\nlet heat_flow = (T_heater - T_indoor) * Mdot * c;\nmsg.delta_Q_heater = heat_flow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":640,"wires":[["1bd14f35.38b561"]]},{"id":"d12a80bb.90b1b","type":"change","z":"46f96150.04c64","name":"Heat flow = 0","rules":[{"t":"set","p":"delta_Q_heater","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":680,"wires":[["1bd14f35.38b561"]]},{"id":"687cd9ab.30e788","type":"function","z":"46f96150.04c64","name":"Delta Q losses","func":"T_in = msg.T_in;\nT_out = msg.T_out;\nR_eq = global.get(\"R_eq\");\n\ndelta_Q_losses = (T_in - T_out) / R_eq;\nmsg.delta_Q_losses = delta_Q_losses;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":680,"wires":[["a7822348.2118a"]]},{"id":"a7822348.2118a","type":"function","z":"46f96150.04c64","name":"Update T_in","func":"var T_in = global.get(\"T_in\");\nlet delta_Q_heater = msg.delta_Q_heater;\nlet delta_Q_losses = msg.delta_Q_losses;\nlet M_air = global.get(\"M_air\");\nlet c = global.get(\"c\");\n\ndelta_T_in = (delta_Q_heater - delta_Q_losses) / (M_air * c);\nT_in += delta_T_in / global.get(\"steps_per_hour\");\n\nglobal.set(\"T_in\", T_in);\n\nmsg.payload = delta_T_in;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":720,"wires":[["123ce0e1.2cb0ef"]]},{"id":"a556549d.4d9fa8","type":"file","z":"46f96150.04c64","name":"Save to report","filename":"/home/oelm/.node-red/reports/report.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":840,"y":660,"wires":[[]]},{"id":"9118d16a.71786","type":"http in","z":"46f96150.04c64","name":"","url":"/report","method":"get","upload":false,"swaggerDoc":"","x":470,"y":160,"wires":[["76355cac.56b884"]]},{"id":"76355cac.56b884","type":"change","z":"46f96150.04c64","name":"Set path to report","rules":[{"t":"set","p":"filename","pt":"msg","to":"/home/oelm/.node-red/reports/report.csv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":160,"wires":[["6b9d3919.f5f168"]]},{"id":"6b9d3919.f5f168","type":"file in","z":"46f96150.04c64","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":810,"y":160,"wires":[["6e3d62e7.bbd5cc"]]},{"id":"6e3d62e7.bbd5cc","type":"http response","z":"46f96150.04c64","name":"","statusCode":"","headers":{},"x":930,"y":160,"wires":[]},{"id":"5729f511.3332fc","type":"ui_template","z":"46f96150.04c64","group":"1e53cb61.2e5cc5","name":"Download report button","order":1,"width":0,"height":0,"format":"<div>\n    <a href=\"/report\">Download report</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":710,"y":200,"wires":[[]]},{"id":"2ebb2d14.0ef5e2","type":"change","z":"46f96150.04c64","name":"Set header","rules":[{"t":"set","p":"payload","pt":"msg","to":"time,T_in,T_out,cost,occupancy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":80,"wires":[["1be5a244.16e8ee"]]},{"id":"1be5a244.16e8ee","type":"file","z":"46f96150.04c64","name":"Create report","filename":"/home/oelm/.node-red/reports/report.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":910,"y":80,"wires":[[]]},{"id":"152e3251.19d20e","type":"ui_button","z":"46f96150.04c64","name":"Start simulation","group":"1e53cb61.2e5cc5","order":3,"width":0,"height":0,"passthru":false,"label":"Start simulation","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RESET","payloadType":"str","topic":"","x":140,"y":80,"wires":[["2a6da675.d551da","2ebb2d14.0ef5e2","61a8e726.26c678","43fe826.56b507c"]]},{"id":"e438bd50.b497f","type":"ui_text","z":"46f96150.04c64","group":"1e53cb61.2e5cc5","order":0,"width":0,"height":0,"name":"Steps","label":"Simulation steps","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":280,"wires":[]},{"id":"e1a6b3c5.8657e","type":"change","z":"46f96150.04c64","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":240,"wires":[["5729f511.3332fc"]]},{"id":"61a8e726.26c678","type":"change","z":"46f96150.04c64","name":"Disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":200,"wires":[["5729f511.3332fc"]]},{"id":"32f3f07.3f28b1","type":"inject","z":"46f96150.04c64","name":"Disable on startup","props":[{"p":"enabled","v":"false","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":150,"y":200,"wires":[["61a8e726.26c678"]]},{"id":"1bd14f35.38b561","type":"function","z":"46f96150.04c64","name":"Energy Cost","func":"let time = 1/global.get(\"steps_per_hour\");\nlet heat_flow = msg.delta_Q_heater;\nlet cost_kWh = global.get(\"cost_kWh\");\n\nlet cumulative_cost = global.get(\"total_cost\") +\n                      heat_flow * time * cost_kWh;\nglobal.set(\"total_cost\", cumulative_cost);\n\nmsg.cost = cumulative_cost;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":640,"wires":[["687cd9ab.30e788"]]},{"id":"e56ccd5b.ee747","type":"template","z":"46f96150.04c64","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}/{{global.total_steps}}","output":"str","x":500,"y":300,"wires":[["e438bd50.b497f"]]},{"id":"6299f55b.a2889c","type":"function","z":"46f96150.04c64","name":"Setup","func":"","outputs":0,"noerr":0,"initialize":"let r2d = 180 / Math.PI;\n\n//------------------------------------------------------------------------------\n//      SIMULATION\n//------------------------------------------------------------------------------\n// initialization\nglobal.set(\"simtime\", -1);\n// parameters\nglobal.set(\"steps_per_hour\", 10);  // steps\nglobal.set(\"total_steps\", 240);  // steps\n\nglobal.set(\"modules.occupancy\", false);\nglobal.set(\"modules.nighttime\", false);\n\n//------------------------------------------------------------------------------\n//      WEATHER CONDITIONS\n//------------------------------------------------------------------------------\nglobal.set(\"init_T_in\", 20);\nglobal.set(\"init_T_out\", 10);\nglobal.set(\"T_out_ampl\", 3);\n\n//------------------------------------------------------------------------------\n//      HEATING\n//------------------------------------------------------------------------------\nglobal.set(\"cost_J\", 0.1616/3.6e6);\n\nglobal.set(\"T_heater\", 50);\nglobal.set(\"Mdot\", 3600);\nglobal.set(\"c\", 1005.4);\n\n//------------------------------------------------------------------------------\n//      HOUSE GEOMETRY\n//------------------------------------------------------------------------------\n// in meters\nlet lenHouse = 30;\nlet widHouse = 10;\nlet htHouse = 4;\n// roof pitch = 30 deg\nlet pitRoof = 30 / r2d;\n\nlet numWindows = 6;\nlet htWindows = 1;\nlet widWindows = 1;\nlet windowArea = numWindows * htWindows * widWindows;\n\nlet htRoof = widHouse * Math.tan(pitRoof) / 2;\nlet wallArea = 2 * htHouse * (widHouse + lenHouse)\n             + htRoof * widHouse\n             + lenHouse * widHouse / Math.sin(pitRoof)\n             - windowArea;\n// let wallArea = 2 * (lenHouse + widHouse) * htHouse +\n//               2 * (1 / Math.cos(pitRoof/2)) * widHouse * lenHouse +\n//               Math.tan(pitRoof) * widHouse -\n//               windowArea;\n               \n//------------------------------------------------------------------------------\n//      INSULATION\n//------------------------------------------------------------------------------\n// Glass wool, 0.2 m thick\nlet kWall = 0.038 * 3600; // J/hr/m/C\nlet LWall = .2;\nlet RWall = LWall / (kWall * wallArea);\n// Glass windows, 0.01 m thick\nlet kWindow = 0.78 * 3600;\nlet LWindow = .01;\nlet RWindow = LWindow / (kWindow * windowArea);\n// Equivalent temperature resistance\nlet Req = RWall * RWindow / (RWall + RWindow);\nglobal.set(\"R_eq\", Req);\n\n//------------------------------------------------------------------------------\n//      INTERNAL AIR MASS\n//------------------------------------------------------------------------------\nlet densAir = 1.2250; // kg/m^3\nlet V_air = lenHouse * widHouse * (htHouse + htRoof/2);\n// V_air = lenHouse * widHouse * htHouse +\n//         Math.tan(pitRoof) * widHouse * lenHouse;\nlet M_air = V_air * densAir;\nglobal.set(\"M_air\", M_air);\n","finalize":"","x":110,"y":40,"wires":[]},{"id":"43fe826.56b507c","type":"link out","z":"46f96150.04c64","name":"start","links":["7e5476aa.7f0308","9d05b24a.c995d"],"x":235,"y":120,"wires":[]},{"id":"a6087db2.52b08","type":"link out","z":"46f96150.04c64","name":"stop","links":["ba292574.844a18"],"x":275,"y":480,"wires":[]},{"id":"a2a60c02.aa928","type":"ui_text","z":"46f96150.04c64","group":"252b6b40.592404","order":3,"width":0,"height":0,"name":"Cost","label":"Total cost","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":780,"wires":[]},{"id":"ec2dcceb.254f5","type":"function","z":"46f96150.04c64","name":"Format cost","func":"let cost = msg.payload.payload.toFixed(2) + \" руб.\";\nmsg.payload = cost;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":780,"wires":[["a2a60c02.aa928"]]},{"id":"eb7cfabc.d03e68","type":"function","z":"46f96150.04c64","name":"PIR","func":"let h = (global.get(\"simtime\") / global.get(\"steps_per_hour\")) % 24;\n\nif ((h >= 7 && h < 9) || (h >= 17 && h < 22)) {\n    msg.payload = \"active\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":360,"wires":[["89d6deb6.8d4fd"]]},{"id":"c72909e1.76df38","type":"function","z":"46f96150.04c64","name":"Door","func":"let h = (global.get(\"simtime\") / global.get(\"steps_per_hour\")) % 24;\n\nif (h == 9) {\n    msg.payload = \"leave\";\n    return msg;\n} else if (h == 17) {\n    msg.payload = \"enter\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":400,"wires":[["bad78411.8d9ba8"]]},{"id":"bd347eab.f1488","type":"link out","z":"46f96150.04c64","name":"Door","links":["d34b62c3.a6cac","1fd5f9d5.d64636"],"x":1075,"y":400,"wires":[]},{"id":"a1e28d08.b2e32","type":"http in","z":"46f96150.04c64","name":"","url":"/hems","method":"get","upload":false,"swaggerDoc":"","x":460,"y":120,"wires":[["9affdae6.ef0f98"]]},{"id":"9affdae6.ef0f98","type":"change","z":"46f96150.04c64","name":"Set path to report","rules":[{"t":"set","p":"filename","pt":"msg","to":"/home/oelm/.node-red/reports/hems.json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[["dc7905ce.ec2608"]]},{"id":"dc7905ce.ec2608","type":"file in","z":"46f96150.04c64","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":810,"y":120,"wires":[["aa7c43da.4b02c"]]},{"id":"aa7c43da.4b02c","type":"http response","z":"46f96150.04c64","name":"","statusCode":"","headers":{},"x":930,"y":120,"wires":[]},{"id":"2d84f93b.679836","type":"ui_template","z":"46f96150.04c64","group":"1e53cb61.2e5cc5","name":"Download hems.json button","order":1,"width":0,"height":0,"format":"<div>\n    <a href=\"/hems\">Download HEMS parameters</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":720,"y":240,"wires":[[]]},{"id":"9d3798bd.4d7f18","type":"change","z":"46f96150.04c64","name":"Save","rules":[{"t":"set","p":"sim.T_in","pt":"flow","to":"T_in","tot":"msg"},{"t":"set","p":"sim.T_out","pt":"flow","to":"T_out","tot":"msg"},{"t":"set","p":"sim.t","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"T_in","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":480,"wires":[["62c91251.d7a42c"]]},{"id":"e0b42af0.bcdb58","type":"change","z":"46f96150.04c64","name":"Restore","rules":[{"t":"set","p":"T_in","pt":"msg","to":"sim.T_in","tot":"flow"},{"t":"set","p":"T_out","pt":"msg","to":"sim.T_out","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"sim.t","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":540,"wires":[["e0c42f5d.2f225"]]},{"id":"ebcff6b9.b01e98","type":"change","z":"46f96150.04c64","name":"From heater","rules":[{"t":"set","p":"heater_command","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":540,"wires":[["e0b42af0.bcdb58"]]},{"id":"42447076.1f1f4","type":"link in","z":"46f96150.04c64","name":"","links":["10b0dd42.b6b1a3","3c3b98b5.2e9d78"],"x":55,"y":540,"wires":[["ebcff6b9.b01e98"]]},{"id":"62c91251.d7a42c","type":"link out","z":"46f96150.04c64","name":"temperature","links":["d1782412.2848a8"],"x":735,"y":480,"wires":[]},{"id":"8157c55f.c70dd8","type":"mqtt out","z":"46f96150.04c64","name":"Cost","topic":"$registries/arecnks70knbtm04hcdv/commands/cost","qos":"1","retain":"","broker":"da49c30d.b7fb2","x":950,"y":740,"wires":[]},{"id":"de13e877.a52388","type":"json","z":"46f96150.04c64","name":"","property":"payload","action":"","pretty":false,"x":810,"y":740,"wires":[["8157c55f.c70dd8"]]},{"id":"75d960f2.afb61","type":"mqtt out","z":"46f96150.04c64","name":"Temperature","topic":"$registries/arecnks70knbtm04hcdv/commands/temp","qos":"1","retain":"","broker":"da49c30d.b7fb2","x":970,"y":700,"wires":[]},{"id":"a0cb6e4c.a4f93","type":"json","z":"46f96150.04c64","name":"","property":"payload","action":"","pretty":false,"x":810,"y":700,"wires":[["75d960f2.afb61"]]},{"id":"bad78411.8d9ba8","type":"switch","z":"46f96150.04c64","name":"Occupancy ON?","property":"modules.occupancy","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":400,"wires":[["bd347eab.f1488"]]},{"id":"89d6deb6.8d4fd","type":"switch","z":"46f96150.04c64","name":"Nighttime ON?","property":"modules.nighttime","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":360,"wires":[["217e948d.3aa8ec"]]},{"id":"217e948d.3aa8ec","type":"link out","z":"46f96150.04c64","name":"PIR","links":["a0f22c38.b9dde"],"x":1075,"y":360,"wires":[]},{"id":"1e53cb61.2e5cc5","type":"ui_group","name":"Simulation","tab":"5c23fe00.be63c","order":3,"disp":true,"width":"6","collapse":false},{"id":"252b6b40.592404","type":"ui_group","name":"Energy consumption","tab":"5c23fe00.be63c","order":1,"disp":true,"width":"12","collapse":true},{"id":"da49c30d.b7fb2","type":"mqtt-broker","name":"hems-registry","broker":"mqtt.cloud.yandex.net","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5c23fe00.be63c","type":"ui_tab","name":"HEMS","icon":"dashboard","disabled":false,"hidden":false}]