node-red/UserInput.json
[{"id":"f1f33bd6.e93488","type":"tab","label":"User Input","disabled":false,"info":""},{"id":"5c26a56a.d6516c","type":"ui_form","z":"f1f33bd6.e93488","name":"Simulation parameters","label":"Simulation parameters","group":"f26647a2.3c0538","order":8,"width":0,"height":0,"options":[{"label":"Steps per hour","value":"steps_per_hour","type":"number","required":false,"rows":null},{"label":"Total steps","value":"total_steps","type":"number","required":false,"rows":null}],"formValue":{"steps_per_hour":"","total_steps":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":360,"y":100,"wires":[["b7cea44.0607458"]]},{"id":"b7cea44.0607458","type":"function","z":"f1f33bd6.e93488","name":"Set simulation parameters","func":"for (const [key, value] of Object.entries(msg.payload)) {\n    global.set(key, value);\n}","outputs":0,"noerr":0,"initialize":"","finalize":"","x":640,"y":100,"wires":[]},{"id":"7e5476aa.7f0308","type":"link in","z":"f1f33bd6.e93488","name":"start","links":["43fe826.56b507c"],"x":55,"y":60,"wires":[["bd56b583.e84cf8","dd450406.31fe58"]]},{"id":"ba292574.844a18","type":"link in","z":"f1f33bd6.e93488","name":"stop","links":["a6087db2.52b08"],"x":55,"y":100,"wires":[["5fa7847d.f889dc"]]},{"id":"ddac7a42.d5b4b8","type":"ui_chart","z":"f1f33bd6.e93488","name":"","group":"252b6b40.592404","order":5,"width":"12","height":"4","label":"Temperature","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"24","removeOlderPoints":"25","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":830,"y":220,"wires":[[]]},{"id":"bd56b583.e84cf8","type":"change","z":"f1f33bd6.e93488","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":340,"wires":[["ddac7a42.d5b4b8","d00eeb78.108878"]]},{"id":"d00eeb78.108878","type":"ui_chart","z":"f1f33bd6.e93488","name":"","group":"252b6b40.592404","order":4,"width":"12","height":"4","label":"Heat cost","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":"24","removeOlderPoints":"25","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e17f0e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":820,"y":180,"wires":[[]]},{"id":"509c1449.aa9a4c","type":"ui_ui_control","z":"f1f33bd6.e93488","name":"","events":"all","x":480,"y":420,"wires":[[]]},{"id":"dd450406.31fe58","type":"function","z":"f1f33bd6.e93488","name":"Disable settings","func":"msg.payload = {\"tabs\": {\"disable\": \"Settings\"}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":400,"wires":[["509c1449.aa9a4c"]]},{"id":"5fa7847d.f889dc","type":"function","z":"f1f33bd6.e93488","name":"Enable settings","func":"msg.payload = {\"tabs\": {\"enable\": \"Settings\"}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":440,"wires":[["509c1449.aa9a4c"]]},{"id":"fa03cc33.31066","type":"mqtt in","z":"f1f33bd6.e93488","name":"Cost","topic":"$registries/arecnks70knbtm04hcdv/commands/cost","qos":"1","datatype":"auto","broker":"c2ee6160.b0ad6","x":310,"y":180,"wires":[["da512ff.b7bead"]]},{"id":"da512ff.b7bead","type":"json","z":"f1f33bd6.e93488","name":"","property":"payload","action":"","pretty":false,"x":490,"y":180,"wires":[["fdd7a464.3cd148"]]},{"id":"fdd7a464.3cd148","type":"function","z":"f1f33bd6.e93488","name":"Back to msg","func":"let message = msg.payload;\nfor (const [key, value] of Object.entries(message)) {\n    msg[key] = value;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":180,"wires":[["d00eeb78.108878"]]},{"id":"1e4bba0.3df4346","type":"mqtt in","z":"f1f33bd6.e93488","name":"Temperature","topic":"$registries/arecnks70knbtm04hcdv/commands/temp","qos":"1","datatype":"auto","broker":"c2ee6160.b0ad6","x":330,"y":220,"wires":[["2fbe4d91.9153e2"]]},{"id":"2fbe4d91.9153e2","type":"json","z":"f1f33bd6.e93488","name":"","property":"payload","action":"","pretty":false,"x":490,"y":220,"wires":[["ea39cf95.01aac"]]},{"id":"ea39cf95.01aac","type":"function","z":"f1f33bd6.e93488","name":"Back to msg","func":"let message = msg.payload;\nfor (const [key, value] of Object.entries(message)) {\n    msg[key] = value;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":220,"wires":[["ddac7a42.d5b4b8"]]},{"id":"8b5ad861.783598","type":"ui_switch","z":"f1f33bd6.e93488","name":"Occupancy","label":"Occupancy","tooltip":"","group":"3c7e705a.6f96","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":500,"wires":[["77eb76f3.306ba8"]]},{"id":"93e3566c.ab80c8","type":"ui_switch","z":"f1f33bd6.e93488","name":"Nighttime","label":"Nighttime","tooltip":"","group":"3c7e705a.6f96","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":540,"wires":[["a1871f63.20d87","24484ada.a40ae6"]]},{"id":"77eb76f3.306ba8","type":"change","z":"f1f33bd6.e93488","name":"Set occupancy","rules":[{"t":"set","p":"modules.occupancy","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":500,"wires":[["54d684f8.a910ac"]]},{"id":"a1871f63.20d87","type":"change","z":"f1f33bd6.e93488","name":"Set nighttime","rules":[{"t":"set","p":"modules.nighttime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":540,"wires":[["54d684f8.a910ac"]]},{"id":"6e555c2f.920fe4","type":"inject","z":"f1f33bd6.e93488","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":540,"wires":[["8b5ad861.783598","93e3566c.ab80c8"]]},{"id":"e571abfd.fb2978","type":"inject","z":"f1f33bd6.e93488","name":"Record","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":580,"wires":[["54d684f8.a910ac"]]},{"id":"32e49e83.a52282","type":"file","z":"f1f33bd6.e93488","name":"Create hems.json","filename":"/home/oelm/.node-red/reports/hems.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":730,"y":620,"wires":[[]]},{"id":"54d684f8.a910ac","type":"function","z":"f1f33bd6.e93488","name":"Send HEMS parameters","func":"msg.payload = global.get(\"hems\");\nmsg.payload[\"modules\"] = global.get(\"modules\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":580,"wires":[["32e49e83.a52282"]]},{"id":"24484ada.a40ae6","type":"change","z":"f1f33bd6.e93488","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[["90ab8615.4369c8"]]},{"id":"84970dae.bb1fc","type":"ui_slider","z":"f1f33bd6.e93488","name":"T_active","label":"Goal temperature","tooltip":"","group":"3c7e705a.6f96","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"10","max":"30","step":1,"x":900,"y":420,"wires":[["1f0b4bea.20c054"]]},{"id":"90ab8615.4369c8","type":"ui_slider","z":"f1f33bd6.e93488","name":"T_asleep","label":"When asleep","tooltip":"","group":"3c7e705a.6f96","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"10","max":"30","step":1,"x":900,"y":460,"wires":[["d471dced.0c28c"]]},{"id":"7527db82.c918b4","type":"ui_slider","z":"f1f33bd6.e93488","name":"T threshold","label":"Temperature range","tooltip":"","group":"3c7e705a.6f96","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"5","step":1,"x":910,"y":500,"wires":[["e34a0ed0.2d3b4"]]},{"id":"1f0b4bea.20c054","type":"change","z":"f1f33bd6.e93488","name":"Set goal temp","rules":[{"t":"set","p":"hems.goal_temp.ACTIVE","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":420,"wires":[[]]},{"id":"d471dced.0c28c","type":"change","z":"f1f33bd6.e93488","name":"Set goal temp","rules":[{"t":"set","p":"hems.goal_temp.ASLEEP","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":460,"wires":[[]]},{"id":"e34a0ed0.2d3b4","type":"change","z":"f1f33bd6.e93488","name":"Set thres","rules":[{"t":"set","p":"hems.thres_on","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":500,"wires":[[]]},{"id":"38cd905d.1fbce","type":"inject","z":"f1f33bd6.e93488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":300,"wires":[["bd56b583.e84cf8"]]},{"id":"f26647a2.3c0538","type":"ui_group","name":"Settings","tab":"9111a821.ed9f28","order":2,"disp":true,"width":"6","collapse":true},{"id":"252b6b40.592404","type":"ui_group","name":"Energy consumption","tab":"5c23fe00.be63c","order":1,"disp":true,"width":"12","collapse":true},{"id":"c2ee6160.b0ad6","type":"mqtt-broker","name":"hems-heater","broker":"mqtt.cloud.yandex.net","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3c7e705a.6f96","type":"ui_group","name":"HEMS","tab":"9111a821.ed9f28","order":2,"disp":true,"width":"6","collapse":false},{"id":"9111a821.ed9f28","type":"ui_tab","name":"Settings","icon":"dashboard","disabled":false,"hidden":false},{"id":"5c23fe00.be63c","type":"ui_tab","name":"HEMS","icon":"dashboard","disabled":false,"hidden":false}]